/*Estrutura Layout*/
.container {
    border: 1px solid red;
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "cabecalho cabecalho"
        "banner banner"
        "conteudo conteudo"
        "rodape rodape";


}

.logo {
    border: 1px solid red;
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.botao {
    text-decoration: none;
    color: #0B5cff;
    border: 2px solid #0B5cff;
    border-radius: 25px;
    padding: 5px 30px;
    align-self: flex-end;   /*alinhamento do botão*/
}

.botao.destaque {
    background-color: #0B5cff;
    color: white;
}

.botao:hover {
    background-color: #d2e1ff;
}

.botao.destaque:hover {
    background-color: #2d73ff;
}

nav {
    border: 1px solid red;
    flex-grow: 1;
}
nav ul {
    border: 1px solid red;
    display: flex;
    list-style: none;
}
nav.menu > ul > li > a {
    border: 1px solid red;
    text-decoration: none;
    
}

header {
    border: 1px solid red;
    grid-area: cabecalho;
    display: flex;/*Definiu o header como container*/ 
    align-items: center;
    padding: 0 10px;/*aplicou o padding so nas laterais*/
}

section.banner > img {
    width: 600px;
}













       
     /*  #topo{
            background: #EEE9DD;
            padding: 1em;
            width: 100vw;
            height: 10vh;
                        
        }

        #logo{
            height: 100%;
        }

        a{
            
            text-decoration: none;
            color: #3E5673;
            padding: 0.5em;
                                             
        }

        a:hover{
            border-radius: 12px;
            background-color: #3E5673;
            color: #EEE9DD;
        }

        #areaBanner{
            border: 5px solid #EEE9DD;
            background: #EEE9DD; 
            padding: 1em 1em;
                
        }

        video{
            border: 5px solid #EEE9DD;
            padding: 1em 1em;
            width: 100vw;
            height: 100vh;                  
        }

        #corpo{
            background: #EEE9DD;
            padding: 1em 2em; 
                      
        }

        h1,h2,p{
            font-family: american typewritfer, serif ;
            color: #3E5673;
             
        }

        .destaque{
            text-transform: uppercase;
            font-weight: bold;
            color: #3E5673;
        }
        
        p~a{
            border-style: solid;
            border-color: #3e5673;
            border-radius: 5px;
        }

        #rodape{
            background: #3E5673;
            color: #CECFCD;
            padding: 10px 100px;
        }

    */